<!--menu-->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a routerLink = "/inicio" class="w3-bar-item w3-button" ><b>SZ</b> Inicio</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a  routerLink="/ventas_hombre" class="w3-bar-item w3-button">Hombre</a>
        <a  routerLink="/ventas_mujer" class="w3-bar-item w3-button">Mujer</a>
        <a  routerLink="/carrito" class="=w3-bar-item w3-button">carrito</a>
      
        <a href="#contacto" class="w3-bar-item w3-button">contacto</a>
      </div>
    </div>
  </div> <br> <br> 


  