
   <ul>
        <nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px;" id="mySidebar">
               
                <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
                  <a href="#" class="w3-bar-item w3-button">Shirts</a>
                  <a href="#" class="w3-bar-item w3-button">Dresses</a>
                  <div class="w3-dropdown-hover">
                      <button class="w3-button">Jeans</button>
                      <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a  (click)="onFiltro()" class="w3-bar-item w3-button">Hombre</a>
                        <a  class="w3-bar-item w3-button">Mujer</a>
                      </div>
                   </div>
                  <a href="#" class="w3-bar-item w3-button">Jackets</a>
                  <a href="#" class="w3-bar-item w3-button">Gymwear</a>
                  <a href="#" class="w3-bar-item w3-button">Blazers</a>
                  <a href="#" class="w3-bar-item w3-button">Shoes</a>
                </div>
              </nav>

   </ul>
   
   <div class="w3-main" style="margin-left:250px"></div>
   <div class="w3-hide-large" style="margin-top:83px"></div>


   
  

   



